/* utility classes */
.h-primary{
    font-size: 2.2rem;
}

.h-secondary{
    font-size: 1.4rem;
}

html{
    scroll-behavior: smooth;
}

.btn-submit {
    padding: 0.5rem 2rem;
    border: 2px solid rgb(97, 7, 7);
    background-color: white;
    color: rgb(97, 7, 7);
    border-radius: 2rem 2rem;
    cursor: pointer;
    font-size: 1rem;
    margin: 1rem;
}

/* navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 0.8rem;
    padding: 0rem 1rem;
}

/* home */
#home{
    height: 40rem;
    padding: 0rem 1rem;
}

#home::before{
    height: 40rem;
}

#home p{
    font-size: 1rem;
}

#home h1{
    font-size: 2.2rem;
}

/* services */
#services{
    flex-direction: column;
}

#services .box{
    margin: 0.5rem 0rem;
}

#services .box img{
    height: 6rem;
}

#services-container h1{
    font-size: 2.2rem;
}

#services-container .box p{
    font-size: 0.9rem;
}

/* clients */
#clients{
    flex-wrap: wrap;
}

#client-section::before{
    height: 100%;
}

#clients img{
    width: 5rem;
    height: auto;
}
/* contact us */
#contact-box form{
    width: 70%;
}
/* footer */